# ==========================================
# Application Settings
# ==========================================
BASE_URL=http://localhost:8080
SERVER_PORT=8080

# ==========================================
# Database Configuration (PostgreSQL)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_USER=test
DB_PASSWORD=mypassword
DB_NAME=myname
DB_SSLMODE=disable

# ==========================================
# Redis Configuration
# ==========================================
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# ==========================================
# Security Settings
# ==========================================

JWT_SECRET=YOUR_SUPER_SECRET_JWT_KEY_HERE

# ==========================================
# Kafka Configuration
# ==========================================
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=test-topic
KAFKA_GROUP_ID=test-group
